* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

:root {
    font-size: 50.5%;
}
  
html,
body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;

    padding-inline: 2.4rem;
}

body {
    background-image: url(./assets/Group\ 3\ \(1\).png);
    background-size: cover;
    background-position-x: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#links {
    margin-top: 10rem;
}

#links header img {
    width: 20rem;
}

#links header p {
    font-size: 1.6rem;
    color: #D8D8D8;
}

#links header h1 {
    color: #D8D8D8;
    font-size: 3rem;
}

#links header {
    margin-bottom: 5rem;
}

#links .cards {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#links .cards .card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    width: 32rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 20px #0f0f0f;

    position: relative;

    transition: all 200ms ease-in;

    background: rgba(0, 0, 0, 0.192);
    padding: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(14.3px);
    border: 2px solid #94f1084d;
}

#links .cards .card:hover {
    transform: rotate(2deg);
    cursor: pointer;
}

#links .cards .card .image .whatsapp,
#links .cards .card .image .site {
    font-size: 8rem;
    left: -2rem;
    color: #F8F8F8;

    position: absolute;
    top: -2.5rem;

    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.63);
    border-radius: 50%;
    padding: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(14.3px);
    -webkit-backdrop-filter: blur(14.3px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#links .cards .card .text h2 {
    color: #D8D8D8;
    font-size: 2.2rem;
}

@media (min-width: 1080px) {
    .wrapper {
        width: min(150rem, 100%);
    }   

    body {
        background-size: contain;
    }

    section#links .cards {
        gap: 7rem;
    }

    section#links .cards .card {
        width: 40rem;
        justify-content: center;
    }

    section#links .cards .card .text {
        text-align: center;
        margin-right: -7rem;
    }

    section#links .cards .card .text h2 {
        font-size: 2.5rem;
    }

    section#links .cards .card .image .whatsapp,
    section#links .cards .card .image .site {
        font-size: 10rem;
        top: -3rem;
    }
}